@page "/wordsearch"
@inject HttpClient Http

@using System.Collections.Generic;

@code {
    private Word[] wordList;
    private wordSearch theGameW;
    private bool HidePuzzle { get; set; } = false;
    private bool HideSolution { get; set; } = true;
    private string[,] bgColor = new string[10, 10];
    private string[] finds;
    private int find = 0;

    protected override async Task OnInitializedAsync()
    {        
        await Setup();
    }

    public async Task Setup()
    {
        Random rnd = new Random();
        wordList = await Http.GetFromJsonAsync<Word[]>($"words{rnd.Next(1, 4)}.json");

        HidePuzzle = false;
        HideSolution = true;

        theGameW = new wordSearch(wordList.OrderBy(o => System.Guid.NewGuid().ToString()).ToList(), 10, 10);

        for (int r = 0; r < bgColor.GetLength(0); r++)
        {
            for (int c = 0; c < bgColor.GetLength(1); c++)
            {
                bgColor[r, c] = "00f";
            }
        }

        finds = new string[theGameW.found.Count];
        for(int i = 0; i < theGameW.found.Count; i++)
        {
            finds[i] = "";

        }
    }

    public void Solve()
    {
        HidePuzzle = !HidePuzzle;
        HideSolution = !HideSolution;
    }

    public void Highlight(int r, int c)
    {
        if(bgColor[r,c] == "00f")
        {
            bgColor[r, c] = "#fd7";
        }
        else
        {
            bgColor[r, c] = "00f";
        }
    }

    public void CrossOut(int index)
    {
        if (finds[index] == "")
        {
            finds[index] = "line-through";
        }
        else
        {
            finds[index] = "";
        }
    }    
}

<h3>Word Search</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <tr><th><u>Find:</u></th></tr>
                @for(int find = 0; find < theGameW.found.Count; find++)
                {
                    string print = theGameW.found[find];
                    var local_find = find;
                    <tr><td style="text-decoration: @finds[find];" @onclick="(e => CrossOut(local_find))">@print</td></tr>
                }
            </table> 
            <button type="button" class="btn btn-link" style="padding: 0px;%; margin-bottom: 10px;" @onclick="@Solve">Solution &rArr;</button> 
        </div>
        <div class="col-10" hidden="@HidePuzzle">
            <table>
                @for (int r = 0; r < theGameW.puzzle.GetLength(0); r++)//print puzzle
                {
                    var local_r = r;
                    <tr>
                        @for (int c = 0; c < theGameW.puzzle.GetLength(1); c++)
                        {
                            var local_c = c;
                            <td style="width: 25px; text-align: center;background-color:@bgColor[r,c]" @onclick="(e => Highlight(local_r, local_c))">@theGameW.puzzle[r, c]</td>
                        }
                    </tr>
                }
            </table>                       
        </div>
        <div class="col-10" hidden="@HideSolution">
            <table>
                @for (int r = 0; r < theGameW.solution.GetLength(0); r++)//print solution
                {
                    <tr>
                        @for (int c = 0; c < theGameW.solution.GetLength(1); c++)
                        {
                            <td style="width: 25px; text-align: center;">@theGameW.solution[r, c]</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col setup">
            <button style="margin-top: 10px;" @onclick="@Setup">&#8635</button>
        </div>
    </div>
</div>

<style>
    .setup {
        color: black;
        float: right;
    }

    .setup button {
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        border: 1px solid black;
        color: black;

        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
</style>