@page "/wordguess"
@inject HttpClient Http

@using System.Collections.Generic;

@code {
    public enum Location
    {
        Yes = 0,
        No = 1,
        Contains = 2,
        Empty = 3
    }
    public class Letter
    {
        public string Text {get; set;} = "";
        public Location Location {get; set;} = Location.Empty;
    }
    public class Round
    {        
        public int Score {get; set;} = 0;
        public Letter[] Letters { get; } = new Letter[5]{new Letter(), new Letter(), new Letter(), new Letter(), new Letter()};
    }
    public class Wordle
    {
        public string Word {get; set;}= "";
        public int Turn {get; set;} = 0;
        public string GuessWord { get; set; } = "";
        public bool Finished { get; set; } = false;

        public List<Round> Rounds = new List<Round>(){new Round(), new Round(), new Round(), new Round(), new Round(), new Round()};

        public Wordle()
        {
            Turn = 0;
        }

        public Wordle(string[] words)
        {
            Random rnd = new Random();
            Word = words[rnd.Next(words.Length)].Trim().ToUpper();
            Turn = 0;
        }

        public void Guess()
        {
            if (Turn >= Rounds.Count) return;            

            var test = Word.ToCharArray().Select(c => c.ToString()).ToArray();

            var currentRound = Rounds.Skip(Turn).First();

            if(currentRound.Letters.Any(o => o.Text == ""))
                throw new Exception("Your guess must be 5 letters.");            

            var wordArray = Word.ToCharArray().Select(c => c.ToString()).ToArray();

            for(int i = 0; i < currentRound.Letters.Length; i++)
            {
                if(Word.Contains(currentRound.Letters[i].Text))
                {
                    if(currentRound.Letters[i].Text == wordArray[i])
                    {
                        currentRound.Letters[i].Location = Location.Yes;
                        currentRound.Score++;
                    }
                    else
                    {
                        currentRound.Letters[i].Location = Location.Contains;
                    }
                }
                else
                {
                    currentRound.Letters[i].Location = Location.No;
                }
            }

            for(int i = 0; i < currentRound.Letters.Length; i++)
            {
                var wordCount = wordArray.Count(o => o == currentRound.Letters[i].Text);
                var guessCount = currentRound.Letters.Count(o => o.Text == currentRound.Letters[i].Text);
                var foundCount = currentRound.Letters.Count(t => t.Text == currentRound.Letters[i].Text && t.Location == Location.Yes);

                if(guessCount > 1)
                { 
                    if(Word.Contains(currentRound.Letters[i].Text))
                    {
                        if(currentRound.Letters[i].Text == wordArray[i])
                        {
                            currentRound.Letters[i].Location = Location.Yes;
                        }
                        else
                        {
                            if(wordCount == foundCount)
                            {
                                currentRound.Letters[i].Location = Location.No;
                            }
                            else
                            {
                                currentRound.Letters[i].Location = Location.Contains;
                            }
                        }
                    }
                    else
                    {
                        currentRound.Letters[i].Location = Location.No;
                    }
                }
            }

            GuessWord = "";

            int previous = (Turn - 1) >= 0 ? (Turn - 1) : 0;
            Finished = Turn >= Rounds.Count - 1 || Rounds[Turn].Score == 5;

            // increase turn
            Turn++;
        }

        public void SetLetter(int index, string letter)
        {
            var currentRound = Rounds.Skip(Turn).First();
            currentRound.Letters[index].Text = letter.ToUpper();
        }

        public void DeleteLetter(int index)
        {
            var currentRound = Rounds.Skip(Turn).First();
            currentRound.Letters[index].Text = "";
        }
    }

    private Wordle game = new Wordle();
    public string msg = "";

    protected override async Task OnInitializedAsync()
    {        
        await Setup();
    }

    public async Task Setup()
    {
        var text = await Http.GetStringAsync($"Wordles.txt");
        var words = text.Split(System.Environment.NewLine);
        msg = "";
        clicks = 0;

        game = new Wordle(words);
    }  

    public void Guess()
    {
        msg = "";
        try
        {
            game.Guess();            
        }
        catch(Exception ex)
        {
            msg = ex.Message;
        }

        clicks = 0;
    }

    public string GetColor(Letter letter)
    {
        string retVal = "white";

        if(string.IsNullOrEmpty(letter.Text))
            return retVal;

        if(letter.Location == Location.Yes)
            retVal = "green";

        if(letter.Location == Location.No)
            retVal = "gray";

        if(letter.Location == Location.Contains)
            retVal = "orange";

        return retVal;
    }

    public string Finished()
    {
        return game.Finished ? game.Word : string.Empty;
    }

    int clicks = 0;
    public void SetLetter(string letter)
    {
        game.SetLetter(clicks, letter);

        if (clicks < 4)
            clicks++;
    }

    public void DeleteLetter()
    {
        game.DeleteLetter(clicks);  
        
        if (clicks > 0)
            clicks--;
    }
}

<div class="gameContainer">
    <div class="container">
        <h3>Word Guess</h3>
        <div class="row">
            <div class="col">
                <table>
                    @for(int i = 0; i < game.Rounds.Count; i++)
                    {
                        <tr>
                        @for(int j = 0; j < game.Rounds[i].Letters.Length; j++)
                        {
                            <td><input class="rounded" @bind="game.Rounds[i].Letters[j].Text" style="background-color: @GetColor(game.Rounds[i].Letters[j])" maxlength="1" disabled="true" /></td>
                        }
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col setup keyboard">
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("Q"))' disabled="@game.Finished">Q</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("W"))' disabled="@game.Finished">W</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("E"))' disabled="@game.Finished">E</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("R"))' disabled="@game.Finished">R</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("T"))' disabled="@game.Finished">T</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("Y"))' disabled="@game.Finished">Y</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("U"))' disabled="@game.Finished">U</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("I"))' disabled="@game.Finished">I</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("O"))' disabled="@game.Finished">O</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("P"))' disabled="@game.Finished">P</button>
            </div>
        </div>
        <div class="row">
            <div class="col setup keyboard">
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("A"))' disabled="@game.Finished">A</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("S"))' disabled="@game.Finished">S</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("D"))' disabled="@game.Finished">D</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("F"))' disabled="@game.Finished">F</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("G"))' disabled="@game.Finished">G</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("H"))' disabled="@game.Finished">H</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("J"))' disabled="@game.Finished">J</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("K"))' disabled="@game.Finished">K</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("L"))' disabled="@game.Finished">L</button>
            </div>
        </div>
        <div class="row">
            <div class="col setup keyboard">
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("Z"))' disabled="@game.Finished">Z</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("X"))' disabled="@game.Finished">X</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("C"))' disabled="@game.Finished">C</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("V"))' disabled="@game.Finished">V</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("B"))' disabled="@game.Finished">B</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("N"))' disabled="@game.Finished">N</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => SetLetter("M"))' disabled="@game.Finished">M</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px;" @onclick='(() => DeleteLetter())' disabled="@game.Finished">&#9003;</button>
            </div>
        </div>
        <div class="row">
            <div class="col setup">
                <button class="btn btn-outline-primary rounded" style="margin-top: 10px; font-size: xx-small" @onclick="@Guess" disabled="@game.Finished">Guess</button>
                <button class="btn btn-outline-secondary rounded" style="margin-top: 10px; font-size: xx-small" @onclick="@Setup">New</button>
            </div>
        </div>
        <div class="row">
            <div class="col setup">
                <label>@(Finished())</label>
                <label>@msg</label>
            </div>
        </div>
    </div>
</div>
<style>
    .gameContainer {
        width: 386px;
        margin-left: 0px;
    }
    input { width: 40px; }
    input:disabled { background-color: white; font-weight: bold; }
    div.keyboard button { font-size: xx-small; }
    .container {
        width: 386px;
        align-content: center;
        text-align: center;
        display: grid;
        place-items: center;
    }
</style>