@page "/wordguess"
@inject HttpClient Http

@using System.Collections.Generic;

@code {
    public enum Location
    {
        Yes = 0,
        No = 1,
        Contains = 2,
        Empty = 3
    }
    public class Letter
    {
        public string Text {get; set;} = "";
        public Location Location {get; set;} = Location.Empty;
    }
    public class Round
    {        
        public int Score {get; set;} = 0;
        public Letter[] Letters { get; } = new Letter[5]{new Letter(), new Letter(), new Letter(), new Letter(), new Letter()};
    }
    public class Wordle
    {
        public string Word {get; set;}= "";
        public int Turn {get; set;} = 0;
        public string GuessWord { get; set; } = "";
        public bool Finished { get; set; } = false;

        public List<Round> Rounds = new List<Round>(){new Round(), new Round(), new Round(), new Round(), new Round(), new Round()};

        public Wordle()
        {
            Turn = 0;
        }

        public Wordle(string[] words)
        {
            Random rnd = new Random();
            Word = words[rnd.Next(words.Length)].Trim().ToUpper();
            Turn = 0;
        }

        public void Guess()
        {
            if (Turn >= Rounds.Count) return;            

            var test = Word.ToCharArray().Select(c => c.ToString()).ToArray();

            var currentRound = Rounds.Skip(Turn).First();

            if(currentRound.Letters.Any(o => o.Text == ""))
                throw new Exception("Your guess must be 5 letters.");            

            var wordArray = Word.ToCharArray().Select(c => c.ToString()).ToArray();

            for(int i = 0; i < currentRound.Letters.Length; i++)
            {
                if(Word.Contains(currentRound.Letters[i].Text))
                {
                    if(currentRound.Letters[i].Text == wordArray[i])
                    {
                        currentRound.Letters[i].Location = Location.Yes;
                        currentRound.Score++;
                    }
                    else
                    {
                        currentRound.Letters[i].Location = Location.Contains;
                    }
                }
                else
                {
                    currentRound.Letters[i].Location = Location.No;
                }
            }

            for(int i = 0; i < currentRound.Letters.Length; i++)
            {
                var wordCount = wordArray.Count(o => o == currentRound.Letters[i].Text);
                var guessCount = currentRound.Letters.Count(o => o.Text == currentRound.Letters[i].Text);
                var foundCount = currentRound.Letters.Count(t => t.Text == currentRound.Letters[i].Text && t.Location == Location.Yes);

                if(guessCount > 1)
                { 
                    if(Word.Contains(currentRound.Letters[i].Text))
                    {
                        if(currentRound.Letters[i].Text == wordArray[i])
                        {
                            currentRound.Letters[i].Location = Location.Yes;
                        }
                        else
                        {
                            if(wordCount == foundCount)
                            {
                                currentRound.Letters[i].Location = Location.No;
                            }
                            else
                            {
                                currentRound.Letters[i].Location = Location.Contains;
                            }
                        }
                    }
                    else
                    {
                        currentRound.Letters[i].Location = Location.No;
                    }
                }
            }

            GuessWord = "";

            Finished = Turn >= Rounds.Count - 1 || Rounds[Turn].Score == 5;

            // increase turn
            Turn++;
        }

        public void SetLetter(int index, string letter)
        {
            var currentRound = Rounds.Skip(Turn).First();
            currentRound.Letters[index].Text = letter.ToUpper();
        }

        public void DeleteLetter(int index)
        {
            var currentRound = Rounds.Skip(Turn).First();
            currentRound.Letters[index].Text = "";
        }
    }

    private Wordle game = new Wordle();
    public string msg = "";
    int clicks = 0;
    List<string> guesses = new List<string>();

    protected override async Task OnInitializedAsync()
    {        
        await Setup();
    }

    public async Task Setup()
    {
        var text = await Http.GetStringAsync($"Wordles.txt");
        var words = text.Split(System.Environment.NewLine);
        msg = "";
        clicks = 0;
        guesses = new List<string>();

        game = new Wordle(words);
    }  

    public void Guess()
    {
        if (clicks < 5) return;

        msg = "";
        try
        {
            game.Guess();            
        }
        catch(Exception ex)
        {
            msg = ex.Message;
        }

        clicks = 0;
    }

    public string GetColor(Letter letter)
    {
        string retVal = "white";

        if(string.IsNullOrEmpty(letter.Text))
            return retVal;

        if(letter.Location == Location.Yes)
            retVal = "green";

        if(letter.Location == Location.No)
            retVal = "gray";

        if(letter.Location == Location.Contains)
            retVal = "orange";

        return retVal;
    }

    public string GetForeColor(Letter letter)
    {
        string retVal = "black";

        if (GetColor(letter) != "white")
            retVal = "white";

        return retVal;
    }

    public string SetKeyColor(string letter)
    {
        string retVal = "white";

        if (game.Turn < 1)
            return retVal;

        if (!guesses.Contains(letter))
            return retVal;

        if(!game.Word.Contains(letter))
            retVal = "gray";

        if(game.Word.Contains(letter))
            retVal = "orange";

        var currentRound = game.Rounds[game.Turn-1];
        var test = currentRound.Letters.FirstOrDefault(o => o.Text == letter);
        if(test != null)
        {
            if (test.Location == Location.Yes)
                retVal = "green";
            if (test.Location == Location.Contains)
                retVal = "orange";
            if (test.Location == Location.No)
                retVal = "gray";
        }

        return retVal;
    }

    public string SetForeColor(string letter)
    {
        string retVal = "black";

        if (SetKeyColor(letter) != "white")
            retVal = "white";

        return retVal;
    }

    public string Finished()
    {
        return game.Finished ? game.Word : string.Empty;
    }

    public void SetLetter(string letter)
    {
        if (clicks == 5) return;

        guesses.Add(letter);
        game.SetLetter(clicks, letter);

        if (clicks < 5)
            clicks++;
    }

    public void DeleteLetter()
    {
        if (clicks == 0) return;

        game.DeleteLetter(clicks-1);

        if(guesses.Any())
            guesses.RemoveAt(clicks-1);

        clicks--;
    }
}

<div class="gameContainer">

    <div id="stack">
            @for(int i = 0; i < game.Rounds.Count; i++)
            {
                @for(int j = 0; j < game.Rounds[i].Letters.Length; j++)
                {
                    <input class="rounded" @bind="game.Rounds[i].Letters[j].Text" style="background-color: @GetColor(game.Rounds[i].Letters[j]); color: @GetForeColor(game.Rounds[i].Letters[j]);" maxlength="1" disabled="true" />
                }
            }
    </div>
            
    <div class="keyboard keyboard1">                
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("Q"); color: @SetForeColor("Q")' @onclick='(() => SetLetter("Q"))' disabled="@game.Finished">Q</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("W"); color: @SetForeColor("W")' @onclick='(() => SetLetter("W"))' disabled="@game.Finished">W</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("E"); color: @SetForeColor("E")' @onclick='(() => SetLetter("E"))' disabled="@game.Finished">E</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("R"); color: @SetForeColor("R")' @onclick='(() => SetLetter("R"))' disabled="@game.Finished">R</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("T"); color: @SetForeColor("T")' @onclick='(() => SetLetter("T"))' disabled="@game.Finished">T</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("Y"); color: @SetForeColor("Y")' @onclick='(() => SetLetter("Y"))' disabled="@game.Finished">Y</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("U"); color: @SetForeColor("U")' @onclick='(() => SetLetter("U"))' disabled="@game.Finished">U</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("I"); color: @SetForeColor("I")' @onclick='(() => SetLetter("I"))' disabled="@game.Finished">I</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("O"); color: @SetForeColor("O")' @onclick='(() => SetLetter("O"))' disabled="@game.Finished">O</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("P"); color: @SetForeColor("P")' @onclick='(() => SetLetter("P"))' disabled="@game.Finished">P</button>
    </div>

    <div class="keyboard keyboard2">
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("A"); color: @SetForeColor("A")' @onclick='(() => SetLetter("A"))' disabled="@game.Finished">A</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("S"); color: @SetForeColor("S")' @onclick='(() => SetLetter("S"))' disabled="@game.Finished">S</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("D"); color: @SetForeColor("D")' @onclick='(() => SetLetter("D"))' disabled="@game.Finished">D</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("F"); color: @SetForeColor("F")' @onclick='(() => SetLetter("F"))' disabled="@game.Finished">F</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("G"); color: @SetForeColor("G")' @onclick='(() => SetLetter("G"))' disabled="@game.Finished">G</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("H"); color: @SetForeColor("H")' @onclick='(() => SetLetter("H"))' disabled="@game.Finished">H</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("J"); color: @SetForeColor("J")' @onclick='(() => SetLetter("J"))' disabled="@game.Finished">J</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("K"); color: @SetForeColor("K")' @onclick='(() => SetLetter("K"))' disabled="@game.Finished">K</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("L"); color: @SetForeColor("L")' @onclick='(() => SetLetter("L"))' disabled="@game.Finished">L</button>
    </div>

    <div class="keyboard keyboard3">
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("Z"); color: @SetForeColor("Z")' @onclick='(() => SetLetter("Z"))' disabled="@game.Finished">Z</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("X"); color: @SetForeColor("X")' @onclick='(() => SetLetter("X"))' disabled="@game.Finished">X</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("C"); color: @SetForeColor("C")' @onclick='(() => SetLetter("C"))' disabled="@game.Finished">C</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("V"); color: @SetForeColor("V")' @onclick='(() => SetLetter("V"))' disabled="@game.Finished">V</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("B"); color: @SetForeColor("B")' @onclick='(() => SetLetter("B"))' disabled="@game.Finished">B</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("N"); color: @SetForeColor("N")' @onclick='(() => SetLetter("N"))' disabled="@game.Finished">N</button>
        <button class="btn btn-outline-secondary rounded" style='background-color: @SetKeyColor("M"); color: @SetForeColor("M")' @onclick='(() => SetLetter("M"))' disabled="@game.Finished">M</button>
        <button class="btn btn-outline-secondary rounded" @onclick="DeleteLetter" disabled="@game.Finished">&#9003;</button>
    </div>

    <div class="controls">
        <button class="btn btn-outline-primary rounded" @onclick="@Guess" disabled="@game.Finished">Guess</button>
        <button class="btn btn-outline-secondary rounded" @onclick="@Setup">New</button>
        <label>@(Finished())</label>
        <label>@msg</label>
    </div>

</div>

<style>
    .gameContainer {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
    }
    input { width: 40px; }
    input:disabled { 
        background-color: white; 
        font-weight: bold; 
    }
    div.keyboard button { 
        font-weight: bold;
        font-size: xx-small; 
        padding: 8px; 
        margin-top: 5px; 
        width: 25px;
    }

    #stack {
        display: grid;
        grid-template-columns: repeat(5, 40px);
        grid-gap: 2px;
        padding: 2px;
    }

    .keyboard1 {
        display: grid;
        grid-template-columns: repeat(10, 30px);
        grid-gap: 1px;
        padding: 1px;
    }

    .keyboard2 {
        display: grid;
        grid-template-columns: repeat(9, 30px);
        grid-gap: 1px;
        padding: 1px;
    }

    .keyboard3 {
        display: grid;
        grid-template-columns: repeat(8, 30px);
        grid-gap: 1px;
        padding: 1px;
    }

    .controls {
        display: grid;
        grid-template-columns: 50px 50px auto auto;
        grid-gap: 1px;
        padding: 1px;
    }

    div.controls button {
        margin-top: 5px; 
        font-size: xx-small
    }
</style>