@page "/wordsearch"

@using System.Collections.Generic;

@code {
    private List<string> wordList = new List<string> { "cow", "chicken", "horse", "dog", "sheep", "lamb", "cat" };
    private wordSearch theGameW;
    private bool HidePuzzle { get; set; } = false;
    private bool HideSolution { get; set; } = true;

    protected override void OnInitialized()
    {
        Setup();
    }

    public void Setup()
    {
        theGameW = new wordSearch(wordList, 10, 10);
    }

    public void Solve()
    {
        HidePuzzle = !HidePuzzle;
        HideSolution = !HideSolution;
    }
}

<h3>Word Search</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <tr><th><u>Find:</u></th></tr>
                @foreach (string print in theGameW.found)
                {
                    <tr><td>@print</td></tr>
                }
            </table> 
            <button type="button" class="btn btn-link" style="padding: 0px;%;" @onclick="@Solve">Solution &rArr;</button> 
        </div>
        <div class="col-10" hidden="@HidePuzzle">
            <table>
                @for (int r = 0; r < theGameW.puzzle.GetLength(0); r++)//print puzzle
                {
                    <tr>
                        @for (int c = 0; c < theGameW.puzzle.GetLength(1); c++)
                        {
                            <td style="width: 25px; text-align: center;">@theGameW.puzzle[r, c]</td>
                        }
                    </tr>
                }
            </table>                       
        </div>
        <div class="col-10" hidden="@HideSolution">
            <table>
                @for (int r = 0; r < theGameW.solution.GetLength(0); r++)//print solution
                {
                    <tr>
                        @for (int c = 0; c < theGameW.solution.GetLength(1); c++)
                        {
                            <td style="width: 25px; text-align: center;">@theGameW.solution[r, c]</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col setup">
            <button @onclick="@Setup">&#8635</button>
        </div>
    </div>
</div>

<style>
    .setup {
        color: black;
        float: right;
    }

    .setup button {
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        border: 1px solid black;
        color: black;

        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
</style>