@page "/wordsearch"

@implements IAsyncDisposable;

@using System.Collections.Generic;
@using Games.WordSearch
@using Games.Services

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {
    [Inject]
    public IWordService WordService { get; set; }

    private string[] wordList = new string[] {};
    private Search theGameW = new Search();
    private const string localStorageLabel = "wordSearch";

    protected override async Task OnInitializedAsync()
    {        
        await Setup(false);
    }

    public async Task Setup(bool newGame = false)
    {
        wordList = await WordService.GetWords();

        var inLocalStorage = await localStorage.ContainKeyAsync(localStorageLabel);

        if (inLocalStorage && !newGame)
        {
            theGameW = await localStorage.GetItemAsync<Search>(localStorageLabel);
        }
        else
        {
            theGameW = new Search();

            theGameW.Setup(wordList.OrderBy(o => System.Guid.NewGuid().ToString()).Take(15).ToList(), 10, 10);

            await localStorage.SetItemAsync(localStorageLabel, theGameW);
        }
    }

    public void Solve()
    {
        theGameW.HidePuzzle = !theGameW.HidePuzzle;
        theGameW.HideSolution = !theGameW.HideSolution;
    }

    public void Highlight(int r, int c)
    {
        if (theGameW.BgColor.First(o => o.X == r && o.Y == c).Value == "00f")
        {
            theGameW.BgColor.First(o => o.X == r && o.Y == c).Value = "#fd7";
        }
        else
        {
            theGameW.BgColor.First(o => o.X == r && o.Y == c).Value = "00f";
        }
    }

    public void CrossOut(int index)
    {
        if (theGameW.Finds[index] == "")
        {
            theGameW.Finds[index] = "line-through";
        }
        else
        {
            theGameW.Finds[index] = "";
        }
    }   

    public async ValueTask DisposeAsync()
    {
        await localStorage.SetItemAsync(localStorageLabel, theGameW);
    }
}

<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <tr><th><u>Find:</u></th></tr>
                @if (theGameW != null)
                {
                    for (int find = 0; find < theGameW.Found.Count; find++)
                    {
                        string print = theGameW.Found[find];
                        var local_find = find;
                        <tr><td style="text-decoration: @theGameW.Finds[find];" @onclick="(e => CrossOut(local_find))">@print</td></tr>
                    }
                }
            </table> 
            <button type="button" class="btn btn-link" style="padding: 0px;%; margin-bottom: 10px;" @onclick="@Solve">Solution &rArr;</button> 
        </div>
        <div class="col-10" hidden="@theGameW.HidePuzzle">
            <table>
                @if (theGameW != null)
                {
                    for (int r = 0; r < theGameW.Height; r++)//print puzzle
                    {
                        var local_r = r;
                        <tr>
                            @for (int c = 0; c < theGameW.Width; c++)
                            {
                                var local_c = c;
                                <td style="width: 25px; text-align: center;background-color:@theGameW.BgColor.First(o => o.X == r && o.Y == c).Value" @onclick="(e => Highlight(local_r, local_c))">@theGameW.Puzzle.First(o => o.X == r && o.Y == c).Value</td>
                            }
                        </tr>
                    }
                }
            </table>                       
        </div>
        <div class="col-10" hidden="@theGameW.HideSolution">
            <table>
                @if (theGameW != null)
                {
                    for (int r = 0; r < theGameW.Height; r++)//print solution
                    {
                        <tr>
                            @for (int c = 0; c < theGameW.Width; c++)
                            {
                                <td style="width: 25px; text-align: center;">@theGameW.Solution.First(o => o.X == r && o.Y == c).Value</td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col setup">
            <button style="margin-top: 10px;" @onclick="(e => Setup(true))">New</button>
        </div>
    </div>
</div>

<style>
    .setup {
        color: black;
        float: right;
    }

    .setup button {
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        border: 1px solid black;
        color: black;

        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
</style>